<form [formGroup]="formGroup" (submit)="$event.preventDefault()">
  
    <br>


    <div class="container foot">
      <div class="row">
        <div class="col-sm" >
          <div>
            <app-alert type="warn"><p><strong>Instrucciones</strong></p>
              <ol>
                <li>La foto debe ser tomada de frente, sin lentes, con el rostro y las orejas descubiertas y mostrando su DNI. La imagen debe tener fondo claro.</li>
                <li> Si sonríe, no debe abrir la boca ni mostrar los dientes.</li>
                <li> No tener prendas en la cabeza, salvo religiosas.</li>
                <li> La foto no debe tener retoques.</li>
                <li> La foto debe ser nítida sin sombras.</li>
                <li> La foto no debe contener imágenes con fines electorales (ejemplo: polo con el número  del candidato, nombre de la Organización Política, etc.).</li>
              </ol>
             </app-alert>
            <br/>
          </div>
         
        </div>
        <div class="col-sm" >
          <div class="imgDni" >
            <img src="../../../assets/dniFoto.jpg" height="300px" >
          </div>
       
        </div>
      </div>
    </div>




<!--     
  <div fxLayout="row" fxLayoutGap="10px">
    <div>
    <app-alert type="warn"><p><strong>Instrucciones</strong></p>
      <ol>
        <li>La foto debe ser tomada de frente, sin lentes, con el rostro y las orejas descubiertas y mostrando su DNI. La imagen debe tener fondo claro.</li>
        <li> Si sonríe, no debe abrir la boca ni mostrar los dientes.</li>
        <li> No tener prendas en la cabeza, salvo religiosas.</li>
        <li> La foto no debe tener retoques.</li>
        <li> La foto debe ser nítida sin sombras.</li>
        <li> La foto no debe contener imágenes con fines electorales (ejemplo: polo con el número  del candidato, nombre de la Organización Política, etc.).</li>
      </ol>
     </app-alert>
    <br/>
  </div>
  <div class="imgDni" >
    <img src="../../../assets/dniFoto.jpg" height="300px" >
  </div>
    
  </div> -->
    <!-- <div fxLayout="column" fxLayoutGap="10px">
        <div>
           <div style="display: none">
            <input matInput formControlName="file">
          </div>
            <app-upload-file
            (fileDropped)="handleArchivoAgregado($event)"
              fxFlex="100"
              label = ""
              title="Arrastrar y soltar"
              description="Cargar foto DNI (Formato JPG o PDF, peso máximo 2Mb)"></app-upload-file>
          </div>
    </div> -->


    <div fxLayout="row" fxLayoutGap="10px">
      <file-upload
        formControlName="files"
        [multiple]="false"
        [animation]="true"
        accept=".png,.jpg,.jpeg"
        fxFlex="100" 
        [maxsize]="maxsize_"
        fileslimit=1 
        [maxsize]="maxsize_"
        [ngStyle]="{
          'outline-color': filesControl.valid == false ? 'red' : ''
        }"
        [ngStyle]="{
          'background-color': filesControl.valid == false ? '#fdf4f4' : ''
        }"
        (change)="validatorImage()"
      >
        <ng-template
          let-isFileDragDropAvailable="isFileDragDropAvailable"
          #placeholder
        >
          <file-upload-drop-zone>
            <ng-container
              *ngIf="isFileDragDropAvailable; else isNotDragDropAvailable"
            >
            Agregar un archivo (PNG, JPG o JPEG con un peso máximo de 5Mb) o dar clic aquí.
            </ng-container>
            <ng-template #isNotDragDropAvailable> </ng-template>
          </file-upload-drop-zone>
        </ng-template>
  
        <ng-template
          let-i="index"
          let-file="file"
          let-control="control"
          #item
        >
          <file-upload-list-item
            [index]="i"
            class="item-test"
            [file]="file"
            [control]="control"
            >Remover</file-upload-list-item
          >
        </ng-template>
      </file-upload>
    </div>
    <!-- <p *ngIf="f.files!.errors && f.files!.touched" class="text-file-valid">La imagen debe tener un peso máximo de 3Mb</p> -->
    <!-- <p *ngIf="f.files!.value![0]!.size >= 5120" class="text-file-valid">La imagen debe tener un peso máximo de 3Mb</p> -->
 





    <br>
    <!-- <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
      <button mat-flat-button type="button" color="primary" (click)="regresar()">REGRESAR</button>
      <button mat-flat-button type="button" color="warn" [disabled]="formGroup.invalid" (click)="continuar()">CONTINUAR</button>
    </div> -->

    <!-- <div class="container">
      <div class="row" style="text-align: center;" >  
        <div class="col-sm mb-3">
          <button mat-flat-button type="button" color="primary" (click)="regresar()">REGRESAR</button>
        </div>
        <br>
        <div class="col-sm">
          <button mat-flat-button type="button" color="warn" [disabled]="formGroup.invalid" (click)="continuar()">CONTINUAR</button>
        </div>        
      </div>     
    </div> -->

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
      <button mat-flat-button type="button" color="primary" (click)="regresar()">REGRESAR</button>
      <button mat-flat-button type="button" color="warn" [disabled]="formGroup.invalid" (click)="continuar()">CONTINUAR</button>
    </div>

  </form>