<app-alert type="warn">
    Hemos recibido tu Solicitud de creación de Casilla Electrónica, procederemos con su evaluación. 

    Por favor, mantente atento a tu correo electrónico registrado.<br />
</app-alert>

<br>
<br>

<!-- <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
    <button mat-flat-button color="warn" (click)="goCasilla()">Ir a Casilla Electrónica</button>
  </div> -->


  <div class="container">
    <div class="row" style="text-align: center;" >

      <div class="col-sm">
        <button class="btn-valid" type="button"  (click)="goCasilla()">Ir a Casilla Electrónica</button>
      </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>