
.wrapper {
  display: unset;
}
.wrapper > div {
  /*font-size: 4vh;*/
  color: rgb(65, 65, 65);
  background: rgb(240, 240, 240);
  margin: .1em;
  padding: .3em;
  border-radius: 3px;
  flex: 1;
}
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;  
  margin-top: 40px;
  border: 1px solid rgb(0 0 0 / 60%);
  border-radius: 4px;
  max-width: 500px;
  max-height: 500px;
}
.labelList{    
  min-width: 320px;
  max-width: 300px;
}
.detailList{
  min-width: 230px;
  max-width: 496px;
}
.h1Persona{
  margin-left: 12px;
  margin-top: 20px;
font-size: 27px;
}
ol{
  list-style-position: inside;
  padding: 0;
}
ol li {
  margin-bottom: 5px;
}

/* List */
ul {
  counter-reset: index;  
  padding: 0;
  max-width: 300px;
}

/* List element */
li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}


/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}




@use postcss-preset-env {
  stage: 0;
  autoprefixer: {
    grid: true;
  }
  browsers: last 2 versions
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .center{
    margin: 0;
  }
  /* .wrapper {
    display: unset;
} */

  /* .labelList{
    min-width: unset;
  } */
  /* .detailList{
    min-width: 150px;
  } */
  .centrarVerticalmente2{
    padding: 5px;
}
}


@media only screen and (min-width: 400px){

  .wrapper {
    display: contents;
}


}