
    <!-- <mat-toolbar class="toolbar">
   
     
      <mat-toolbar-row>
        <span>Solicitud de Creación de Casilla Electrónica</span>
      </mat-toolbar-row>
    </mat-toolbar> -->

    <div class="centrarVerticalmente3">
      <img class="imagenLogo" src="../assets/isologo.svg" />
     </div>
     <!--<img src="../assets/isologo.svg" class="img-fluid" alt="logo" sizes="(max-width: 100px) 100px,(max-width: 200px) 200px">-->
    <nav class="navbar">
      <div class="container-fluid centrarVerticalmente4" >
          <span>Datos del Solicitante</span>
      </div>
    </nav>
  <br/>
<!--<div class="centrarVerticalmente2 margin-auto">
    <span class="margin-auto__content">
      Solicitud de Creación de Casilla Electrónica
    </span>
 </div>-->

<div #principal >
  <div *ngIf="isValid;else other_content" >
    <app-creacion-pasos></app-creacion-pasos>
  </div>
</div>

<ng-template #other_content>
  <app-verificacion-navegador></app-verificacion-navegador>
</ng-template>


<div style="text-align: center;">
  <div id="chrome" class="compartir">
    <img border="0" src="../../../assets/chrome.jpeg" width="30px" height="30px">
  </div>
  <div id="firefox" class="compartir">
    <img border="0" src="../../../assets/firefox.jpeg" width="30px" height="30px">
  </div>
</div>
<footer>

  <div class="container foot">
    <div class="row">
      <div class="col-sm" style="text-align: initial;">
        <span class="font-foot1">Central telefónica : </span> <br>
        <span class="font-foot2"> +51 4170630  | lunes a viernes -8:30 a.m. a 4:30 p.m</span>
       
      </div>
      <div class="col-sm" style="text-align: initial;">
        <span class="font-foot1">Escríbenos</span> <br>
        <span class="font-foot2"> informes@onpe.gop.pe</span>
     
      </div>
      <div class="col-sm" style="text-align: initial;">
        <span class="font-foot1">Oficina central</span> <br>
        <span class="font-foot2"> Jr. Washington 1894 - Cercado de Lima</span><br>        
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm" style="text-align: initial;">
      </div>
      <div class="col-sm" style="text-align: initial;">
      </div>
      <div class="col-sm">
        <span class="font-foot2"> V 1.3.0</span>
      </div>
    </div>
    
  </div>
</footer>


