<form [formGroup]="formGroup" (submit)="$event.preventDefault()">

  
  <app-alert type="info" class="adicionalAlert">
    <div class="camposObligatorios">
      <p>Sólo se pueden registrar Personas Jurídicas con RUC que inicie con el número 20. Si su RUC no inicia con este número, debe seleccionar la condición "Persona Natural".</p>
  </div>
</app-alert>
<br>
  <div class="row">
    <div class="col-sm-2">
      <label class="label-blue"> Tipo de documento *</label>
    </div>
    <div class="col-sm">
      <select class="form-select" formControlName="tipoDocumento" [disabled]="buscando" (change)="tipoDocumentoCambiado()" required>
        <option *ngFor="let item of tipoDocumentoList" [value]="item.codigo">{{item.nombre}}</option>
      </select>
    </div>
    <div class="col-sm">
      <label class="label-blue">N° de RUC *</label>
    </div>   
    <div class="input-group mb-3 col-sm">
      <input type="text" inputmode="numeric" class="form-control"  (keypress)="validarPrimerDigitoRUC($event)" formControlName="numeroDocumento"  [ngClass]="{ 'is-invalid': (f.numeroDocumento!.touched || f.numeroDocumento!.dirty) && f.numeroDocumento.errors }" type="text" (change)="invalidarDocumento()" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..?)\../g, '$1');" (keydown.enter)="validarDocumento()" [maxlength] ="maxlength" [minlength]="maxlength" required>
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" *ngIf="(getNumeroDoc().length == 11 && !numeroRucValido)" (click)="validarDocumento()"  [class.spinner]="loading" [disabled]="loading">Consultar</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-2">
      <label class="label-blue">Razón Social *</label>  
    </div>
    <div class="input-group mb-3 col-sm">
      <input id="razonSocial" type="text" class="form-control" style="text-transform: uppercase;" formControlName="razonSocial" 
      [ngClass]="{ 'is-invalid': (f.razonSocial!.touched || f.razonSocial!.dirty) && f.razonSocial.errors }" autocomplete="off" 
      pattern="^\S$|[0-9a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇOEÆČŠŽ∂ð,.'-]{1,254}"  
      maxlength="100" (keypress)="quitarDobleEspacio('razonSocial', $event)" ng-trim="true">
    </div>
  </div>

  
  <div class="row">
    <div class="col-sm-2">
      <label class="label-blue"> Correo electrónico de la entidad *</label>
    </div>
    <div class="input-group mb-3 col-sm">
      <input type="email" class="form-control" maxlength="100" formControlName="correoElectronico" 
      [ngClass]="{ 'is-invalid': (f.correoElectronico!.touched || f.correoElectronico!.dirty) && f.correoElectronico.errors }" 
      autocomplete="off">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="validarCorreoElectronico()" [disabled]="ActiveButton() || oneClick">Validar</button>
    </div>
    <div class="col-sm">
      <label class="label-blue">Número de celular *</label>
    </div> 
      <div class="input-group mb-3 col-sm">
        <input type="text" inputmode="numeric" class="form-control"   formControlName="numeroCelular" 
        [ngClass]="{ 'is-invalid': (f.numeroCelular!.touched || f.numeroCelular!.dirty) && f.numeroCelular.errors }" 
        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..?)\../g, '$1');" (keypress)="validarCelular($event)"  
        minlength="9" maxlength="9"    autocomplete="off" > 
      </div>
  </div>



  <div class="row">
    <div class="col-sm-2">
      <label class="label-blue">Número de teléfono fijo</label>
    </div> 
      <div class="input-group mb-3 col-sm"> <!-- oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..?)\../g, '$1');"-->
        <input type="text" inputmode="numeric" placeholder="000-000000" class="form-control"   formControlName="numeroTelefono" [ngClass]="{ 'is-invalid': (f.numeroTelefono!.touched || f.numeroTelefono!.dirty) && f.numeroTelefono.errors }" (keypress)="validarsoloTelefonoFijo($event)"  minlength="6" maxlength="10" autocomplete="off" > 
      </div>
    <div class="col-sm">
      <label class="label-blue"> Departamento *</label>
    </div>
    <div class="col-sm">
      <select class="form-select" id="departamento" name="departamento" formControlName="departamento" [ngClass]="{ 'is-invalid': (f.departamento!.touched || f.departamento!.dirty) && f.departamento.errors }" (change)="cambiarProvincia()">
        <option  ngValue="">Seleccione departamento</option>
        <option *ngFor="let item of departamentoList" [ngValue]="item">{{item.nodep}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label class="label-blue">Provincia *</label>
    </div>
   
      <div class="input-group mb-3 col-sm">
        <select class="form-select"id="provincia" name="provincia" formControlName="provincia" [ngClass]="{ 'is-invalid': (f.provincia!.touched || f.provincia!.dirty) && f.provincia.errors }" (change)="cambiarDistrito()">
          <option  ngValue="">Seleccione provincia</option>
          <option *ngFor="let item of provinciaList" [ngValue]="item">{{item.noprv}}</option>
        </select>
      </div>
    <div class="col-sm">
      <label class="label-blue"> Distrito *</label>
    </div>
    <div class="input-group mb-3 col-sm">
      <select class="form-select" id="distrito" name="distrito" formControlName="distrito" [ngClass]="{ 'is-invalid': (f.distrito!.touched || f.distrito!.dirty) && f.distrito.errors }">
        <option  ngValue="">Seleccione distrito</option>
        <option  *ngFor="let item of distritoList" [ngValue]="item">{{item.nodis}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label class="label-blue">Domicilio físico *</label>  
    </div>
    <div class="input-group mb-3 col-sm">
      <input id="domicilioID" type="text" class="form-control" maxlength="100" minlength="5" formControlName="domicilioFisico" [ngClass]="{ 'is-invalid': (f.domicilioFisico!.touched || f.domicilioFisico!.dirty) && f.domicilioFisico.errors }" (keypress)="validardomicilio($event, 'domicilioID')" autocomplete="off" >
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label class="label-blue">Página web </label>  
    </div>
    <div class="input-group mb-3 col-sm">
      <input id="paginaWebID" type="text" class="form-control" maxlength="100" minlength="5" formControlName="paginaWeb" [ngClass]="{ 'is-invalid': (f.paginaWeb!.touched || f.paginaWeb!.dirty) && f.paginaWeb.errors }" (keypress)="validarPaginaWeb($event, 'paginaWebID')" autocomplete="off"
      pattern="(https?:\/\/)?(www\.)[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)|(https?:\/\/)?(www\.)?(?!ww)[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" >
    </div>
  </div>
</form>
