<img src="../../assets/isologo.svg" alt="Oficina Nacional de Procesos Electorales | ONPE" width="100" style="margin: 0 auto">
<div>
    <p>Estimado ciudadano, su solicitud a la Casilla Electrónica de la ONPE lo puede realizar a través de su dispositivo 
        <strong>Tablet</strong>, <strong>Computadora</strong> o <strong>Laptop</strong>.
    </p>
</div>
